{% extends "base.html" %}
{% load static %}
{% block header %}
{% endblock %}
{% block content %}
<br><br>
<br><br>
<div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
        <form method="POST" action="">
            {% csrf_token %}
            {% for form in forms %}
                <div class="form-group">
                    <label for="{{ form.id_for_label }}">{{ form.label }}</label>
                    {{ form }}
                </div>
            {% endfor %}
            {% if error %}
            <div class="col-12">
                {{ error }}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">글쓰기</button>
        </form>
    </div>
</div>
{% endblock %}