{% extends "base.html" %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

<!-- Hero Section Start-->
<section class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 order-2 order-lg-1">
                <div class="hero-content mx-auto">
                <h3 class="hero-title text-dark">Too much time to find a hospital?</h3>
                    <p class="lead mt-4 hero-subtitle fw-normal">빅데이터를 기반한 병명 진단부터 병원 찾기 서비스까지</p>
                    <div class="hero-btns mt-5">
                        <a href="https://play.google.com/" class="btn btn-secondary hero-btn btn-lg"><img src="{% static 'assets/images/google_play_icon.png' %}"> Google Play</a>
                        <a href="https://www.apple.com/kr/app-store/" class="btn btn-dark hero-btn btn-lg"><img src="{% static 'assets/images/appstore_logo.png' %}"> App Store</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 order-1 order-lg-2">
                <div class="hero-img position-relative">
                    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" width="100%" class="hero-blob waving">
                        <path d="M405,320.5Q332,391,231,424.5Q130,458,107.5,354Q85,250,107,145.5Q129,41,242.5,53.5Q356,66,417,158Q478,250,405,320.5Z" fill="#f1f1f1"></path>
                    </svg>
                    <img class="rounded floating" src="{% static 'assets/images/hero.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End-->

<!-- Features Start-->
<section class="features" id="scrollspyHeading1">
    <div class="container short-section mx-auto mt-2">
        <br></br>
        <br></br>
        <br></br>
        <div class="row">
            <div class="col-12">
                <div class="section-head mx-auto">
                    <h3 class="section-title text-center text-dark fw-bold">DDOAPPA 서비스 소개</h3>
                    <p class="section-subtitle mt-4 text-center mb-0">현대인들에게 피할 수 없는 부상! 어차피 병원 가는 거 더 편하게 찾자!</p>
                </div>
            </div>
        </div>
        <div class="row mt-2 mt-md-5">
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/branding.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Speedy</h3>
                    <p class="feature-box-text mt-4">신속한 검색과 매칭 서비스를 제공하여 검색에 소모되는 불필요한 시간 단축</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/ux.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Familiar</h3>
                    <p class="feature-box-text mt-4">어려운 사용법은 그만! 간편하고 소비자 친화적인 서비스 제공으로 편리한 접근성 제공</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/growth.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Low Cost</h3>
                    <p class="feature-box-text mt-4">고객 맞춤형 가격대가 알맞는 병원 매칭으로 비용 절감. 원장도 적은 비용으로 공고 가능</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/marketing.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Extensive</h3>
                    <p class="feature-box-text mt-4">고객 뿐만 아니라 병원도 원하는 서비스 제공. 장소, 시간 등 소비자 검색 조건 확장성 보유</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features End-->

<!-- Content Section 1 Start-->
<section class="content-section content-1" id="scrollspyHeading2">
    <br></br>
    <br></br>
    <br></br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="content-text">
                    <h3 class="content-title text-dark fw-bold">
                    병명 검색
                    </h3>
                    <div class="content-text mt-4 mb-4">
                    <p>이 자리에 카드 섹션 넣어서 이동시킬 예정</p>
                    <p>
                        Donec vel lorem nec nisl interdum maximus. Integer a erat sed risus ornare fringilla sed ut ipsum. Nunc viverra leo efficitur nibh vestibulum auctor. 
                    </p>
                    <ul class="list-unstyled">
                        <li>Aliquam sagittis vel tincidunt.</li>
                        <li>Integer a erat sed risus ornare.</li>
                        <li>Donec vel lorem nec nisl maximus.</li>
                    </ul>
                    </div>
                    <a href="#" class="content-cta text-dark fw-bold">Learn More <img src="{% static 'assets/images/chevron-right.svg' %}"></a>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="content-img">
                    <img class="rounded img-fluid" src="{% static 'assets/images/idea.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 1 End-->

<!-- Content Section 2 Start-->
<section class="content-section content-2" id="scrollspyHeading3">
    <br></br>
    <br></br>
    <br></br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="content-img">
                    <img class="rounded img-fluid" src="{% static 'assets/images/professionals.svg' %}">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="content-text">
                    <h3 class="content-title text-dark fw-bold">
                    병원 검색
                    </h3>
                    <div class="content-text mt-4 mb-4">
                    <p>지도 넣는 링크 넣을 것임 </p>
                    <p>
                        Donec vel lorem nec nisl interdum maximus. Integer a erat sed risus ornare fringilla sed ut ipsum. Nunc viverra leo efficitur nibh vestibulum auctor. 
                    </p>
                    <ul class="list-unstyled">
                        <li>Aliquam sagittis vel tincidunt.</li>
                        <li>Integer a erat sed risus ornare.</li>
                        <li>Donec vel lorem nec nisl maximus.</li>
                    </ul>
                    </div>
                    <a href="#" class="content-cta text-dark fw-bold">Learn More <img src="{% static 'assets/images/chevron-right.svg' %}"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 2 End-->

<!-- Content Section 3 Start-->
<section class="content-section content-3" id="scrollspyHeading4">
    <br></br>
    <br></br>
    <br></br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="content-text">
                    <h3 class="content-title text-dark fw-bold">
                    무엇을 도와드릴까요?
                    </h3>
                    <div class="content-text mt-4 mb-4">
                    <p>Board 형식의 게시판 구현 예정 </p>
                    <p>
                        Donec vel lorem nec nisl interdum maximus. Integer a erat sed risus ornare fringilla sed ut ipsum. Nunc viverra leo efficitur nibh vestibulum auctor. 
                    </p>
                    <ul class="list-unstyled">
                        <li>Aliquam sagittis vel tincidunt.</li>
                        <li>Integer a erat sed risus ornare.</li>
                        <li>Donec vel lorem nec nisl maximus.</li>
                    </ul>
                    </div>
                    <a href="#" class="content-cta text-dark fw-bold">Learn More <img src="{% static 'assets/images/chevron-right.svg' %}"></a>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="content-img">
                    <img class="rounded img-fluid" src="{% static 'assets/images/joy.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 3 End-->

<!--CTA Start-->
<section class="cta mx-auto">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center position-relative rounded">
                    <h3 class="cta-title text-dark fw-bold">
                    잉여 메뉴
                    </h3>
                    <p class="cta-text mt-3">
                    기타 등등
                    </p>
                    <a href="#" class="btn btn-dark btn-lg mt-3">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA End-->

{% endblock %}