{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
</style>
{% endblock %}
{% block content %}

<!-- Hero Section Start-->
<section class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 order-2 order-lg-1">
                <div class="hero-content mx-auto">
                <h3 class="hero-title text-dark">Too much time to find a hospital?</h3>
                    <p class="lead mt-4 hero-subtitle fw-normal">빅데이터를 기반한 병명 진단부터 병원 찾기 서비스까지</p>
                    <div class="hero-btns mt-5">
                        <a href="https://play.google.com/" class="btn btn-secondary hero-btn btn-lg"><img src="{% static 'assets/images/google_play_icon.png' %}"> Google Play</a>
                        <a href="https://www.apple.com/kr/app-store/" class="btn btn-dark hero-btn btn-lg"><img src="{% static 'assets/images/appstore_logo.png' %}"> App Store</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 order-1 order-lg-2">
                <div class="hero-img position-relative">
                    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" width="100%" class="hero-blob waving">
                        <path d="M405,320.5Q332,391,231,424.5Q130,458,107.5,354Q85,250,107,145.5Q129,41,242.5,53.5Q356,66,417,158Q478,250,405,320.5Z" fill="#f1f1f1"></path>
                    </svg>
                    <img class="rounded floating" src="{% static 'assets/images/hero.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End-->

<!-- Features Start-->
<section class="features" id="scrollspyHeading1">
    <div class="container short-section mx-auto mt-2">
        <br></br>
        <br></br>
        <br></br>
        <div class="row">
            <div class="col-12">
                <div class="section-head mx-auto">
                    <h3 class="section-title text-center text-dark fw-bold">DDOAPPA 서비스 소개</h3>
                    <p class="section-subtitle mt-4 text-center mb-0">현대인들에게 피할 수 없는 부상! 어차피 병원 가는 거 더 편하게 찾자!</p>
                </div>
            </div>
        </div>
        <div class="row mt-2 mt-md-5">
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/branding.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Speedy</h3>
                    <p class="feature-box-text mt-4">신속한 검색과 매칭 서비스를 제공하여 검색에 소모되는 불필요한 시간 단축</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/ux.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Familiar</h3>
                    <p class="feature-box-text mt-4">어려운 사용법은 그만! 간편하고 소비자 친화적인 서비스 제공으로 편리한 접근성 제공</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/growth.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Low Cost</h3>
                    <p class="feature-box-text mt-4">고객 맞춤형 가격대가 알맞는 병원 매칭으로 비용 절감. 원장도 적은 비용으로 공고 가능</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="feature-box position-relative">
                    <img src="{% static 'assets/images/marketing.svg' %}" class="feature-box-icon">
                    <h3 class="feature-box-title text-dark fw-bold">Extensive</h3>
                    <p class="feature-box-text mt-4">고객 뿐만 아니라 병원도 원하는 서비스 제공. 장소, 시간 등 소비자 검색 조건 확장성 보유</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features End-->

<!-- Content Section 1 Start-->
<section class="content-section content-1" id="scrollspyHeading2">
    <br></br>
    <br></br>
    <br></br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="content-text">
                    <h3 class="content-title text-dark fw-bold"> Searching Name of Injury </h3>
                    <div class="content-text mt-4 mb-4">
                        <p>병명/부상명을 찾는 코너입니다.</p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card border border-dark mb-3 text-center" style="max-width: 20rem;">
                                <div class="card-body text-dark">
                                    <i class="fas fa-user-injured fa-5x mt-3" style="color: #464646;"></i>
                                    <h5 class="card-title mt-3">증상 찾기</h5>
                                    <p class="card-text" style="font-size: medium;">축구하다 넘어졌는 데 십자인대 파열이 의심된다면?! 의심되는 병명을 여기를 통해 찾아보세요!</p>
                                    <a href="#" class="btn btn-primary">Go Search!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card border border-dark mb-3 text-center" style="max-width: 20rem;">
                                <div class="card-body text-dark">
                                    <i class="fas fa-search-plus fa-5x mt-3" style="color: #464646;"></i>
                                    <h5 class="card-title mt-3">직접 검색</h5>
                                    <p class="card-text" style="font-size: medium;">확신하는 병명이 있는 데 증상 등의 정보가 필요하다면?! 병명을 직접 검색해보세요!</p>
                                    <a href="#" class="btn btn-primary">Go Search!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="content-img">
                    <img class="rounded img-fluid" src="{% static 'assets/images/idea.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 1 End-->

<!-- Content Section 2 Start-->
<section class="content-section content-2" id="scrollspyHeading3">
    <br></br>
    <br></br>
    <br></br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="content-img">
                    <img class="rounded img-fluid" src="{% static 'assets/images/professionals.svg' %}">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="content-text">
                    <h3 class="content-title text-dark fw-bold"> Searching Name Of Hospital </h3>
                    <div class="content-text mt-4 mb-4">
                        <p> 병원을 찾는 코너입니다 </p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card border border-dark mb-3 text-center" style="max-width: 20rem;">
                                <div class="card-body text-dark">
                                    <i class="fas fa-hospital fa-5x mt-3" style="color: #464646;"></i>
                                    <h5 class="card-title mt-3">병원 검색</h5>
                                    <p class="card-text" style="font-size: medium;">근처에 아는 병원이 없거나 자신이 원하는 병원을 찾고 싶다면? 최적의 조건 검색을 통해서 찾아드립니다!</p>
                                    <a href="#" class="btn btn-primary">Go Search!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card border border-dark mb-3 text-center" style="max-width: 20rem;">
                                <div class="card-body text-dark">
                                    <i class="fas fa-map-marked-alt fa-5x mt-3" style="color: #464646;"></i>
                                    <h5 class="card-title mt-3">지도 검색</h5>
                                    <p class="card-text" style="font-size: medium;">이름을 아는 병원이 있거나 제일 가까운 곳을 찾고 싶다면?! 지도를 통해 검색해보세요!</p>
                                    <a href="#" class="btn btn-primary">Go Search!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 2 End-->

<!-- Content Section 3 Start-->
<section class="content-section content-3" id="scrollspyHeading4">
    <br></br>
    <br></br>
    <br></br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="content-text">
                    <h3 class="content-title text-dark fw-bold"> Help Service </h3>
                    <div class="content-text mt-4 mb-4">
                    <p> Do you need a help? </p>
                    <p> 아래 리스트를 보고 클릭해주세요. </p>
                    <ul class="list-unstyled">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주 하는 질문</a></li>
                        <li><a href="{% url 'boardlist' %}">상담원에게 직접 문의하기</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="content-img">
                    <img class="rounded img-fluid" src="{% static 'assets/images/joy.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section 3 End-->

{% endblock %}